{
	"plugins": ["prettier", "unused-imports"],
	"extends": ["plugin:prettier/recommended"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"es6": true
	},
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto",
				"useTabs": true
			}
		],
		"no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{
				"vars": "all",
				"varsIgnorePattern": "^_",
				"args": "after-used",
				"argsIgnorePattern": "^_"
			}
		]
	}
}
